{% extends "layout.html" %}

{% block content %}
<div class="container">
    <table class="table table-condensed">
        <thead>
            <th class="info"></th>
            <th class="info">{{ object.name }}</th>
        </thead>
        <tbody>
            <tr>
                <td><strong>Call Sign:</strong></td><td>{{ object.callsign }}</td>
            </tr>
            <tr>
                <td><strong>Organization:</strong></td><td>{{ object.organization }}</td>
            </tr>
            <tr>
                <td><strong>Coordinates:</strong></td><td>{{ object.tower.latitude }},{{ object.tower.longitude }}</td>
            </tr>
            <tr>
                <td><strong>Licence:</strong></td><td>{{ object.licence_type }}</td>
            </tr>
            <tr>
                <td><strong>Frequency Tx:</strong></td><td>{{ object.frequency }} MHz</td>
            </tr>
            {% if object.licence_type == "AT" %}
            <tr>
                <td><strong>Frequency Rx:</strong></td><td>{{ object.frequency_rx }} MHz</td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>ERP:</strong></td><td>{{ object.erp }} W</td>
            </tr>
            <tr>
                <td><strong>Transmitter power:</strong></td><td>{{ object.transmitter_power }} W</td>
            </tr> 
            <tr>
                <td><strong>Licence issuing date:</strong></td><td>{{ object.licence_issuing_date }}</td>
            </tr>
            <tr>
                <td><strong>Licence expiration date:</strong></td><td>{{ object.licence_expiration_date }}</td>
            </tr>
            <tr>
                <td><strong>Antenna:</strong></td><td>{{ object.antenna }}</td>
            </tr>
            <tr>
                <td><strong>Antenna height:</strong></td><td>{{ object.antenna_height }} m</td>
            </tr>
            <tr>
                <td><strong>Antenna direction:</strong></td><td>{{ object.antenna_direction }}°</td>
            </tr>
            <tr>
                <td><strong>Antenna tilt:</strong></td><td>{{ object.antenna_tilt }}°</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
