__pycache__/
**/__pycache__/

*.log
deployment_settings.py
db.sqlite3
*.sqlite

**/migrations/

**/venv/
**/.idea/
**/.vscode/
**.pyc
/project_root/RFmonitor/static/*
/project_root/RFmonitor/media/*
/static_cdn/media/*
/static_cdn/static/*
/project_root/RFmonitor/settings/dev_settings.py
