__pycache__/
**/__pycache__/

*.log
deployment_settings.py
db.sqlite3
*.sqlite

**/migrations/

**/venv/
**/.idea/
**/.vscode/
**.pyc
/project_root/RFmonitor/static/*
/project_root/RFmonitor/media/*
/project_root/RFmonitor/settings/development_postgresql.py
/project_root/RFmonitor/settings/development_sqlite.py
/project_root/RFmonitor/settings/heroku.py
/project_root/RFmonitor/settings/linode.py
/monitoring.sqbpro
/Pipfile.lock
/project_root/RFmonitor/settings/__init__.py
/static_cdn/media
/static_cdn/static/admin