body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: lavender;
}

/*NAVBAR STYLING*/
.navbar-default {
  /*background-color: #CC0000;*/
  /*border-color: #001caa;*/
  background-color: #0044cc;
  border-color: #001caa;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #677bde;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #001caa;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #001caa;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #001caa;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/*END OF NAVBAR STYLING*/

.dropdown-menu,
.dropdown-submenu {
  background-color: lavender;
}

/* Set padding to keep css from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

p.map-description {
  color: cornflowerblue;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
  color: #4871b9;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #4871b9;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #4871b9;
}

.validation-summary-valid {
  display: none;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(219, 209, 209, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(219, 209, 209, 0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}
