{% extends "layout.html" %}
{% block content %}

<div class="container">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-book"></span><a href="{% url 'inventories:rfmonsitelog_list' %}">Journal</a></li>
        {% if user == rfmonsitelog.author %}
            <li><span class="glyphicon glyphicon-pencil"></span><a href="{% url 'inventories:rfmonsitelog_edit' pk=rfmonsitelog.pk %}">Edit</a></li>
            <li><span class="glyphicon glyphicon-trash"></span><a href="{% url 'inventories:rfmonsitelog_remove' pk=rfmonsitelog.pk %}">Delete</a></li>
        {% endif %}
        <li class="active">Details</li>
    </ol>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <b>{{ rfmonsitelog.rfmonsite.office }}</b>
            </div>
            <ul class="list-group list-group-flush card-container">
                <li class="list-group-item"><b>Event: </b><br>{{ rfmonsitelog.logevent.type }}</li>
                <li class="list-group-item">
                    <b>Description: </b><br>{{ rfmonsitelog.details|safe|linebreaks }}
                    {% if rfmonsitelog.report != None %}
                        <h4><span class="glyphicon glyphicon-paperclip"></span> {{ rfmonsitelog.report|urlizetrunc:20 }}</h4>
                    {% else %}
                        <h4><span class="glyphicon glyphicon-bell text text-nowrap"> </span> No report</h4>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <b>Date: </b>{{ object.datetime|date:"Y-m-d H:i" }}
                </li>
                <li class="list-group-item"><i>{{ rfmonsitelog.author.first_name }} {{ rfmonsitelog.author.last_name }}</i></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}